.profileActive {
    background-color: #B2FFA8;
}

.group {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left img {
    width: 225px;
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 350px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group input {
    height: 60px;
    width: 210px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}